:root {
    /*--Default colors, set in theme tab if changed--*/
    --background: #373737;
    --textcolor: #fff;

    --accentcolor1: #fff;
    --accentcolor2: red;
    --accentcolor3: #52adab;
    --accentcolor4: #81cfe3;
}

@font-face {
    font-family: 'punk';
    src: url('punkrockshow-font/PunkrockshowRegular-xP4m.ttf');
}


body {
    background-color: var(--background);
    color: var(--textcolor);
    margin: 0 auto;
    font-family: "Special Elite";
}


a {
    color: var(--accentcolor3);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--accentcolor4);
}

.mainmenu {
    float: left;
    width: 100%;
    border-bottom: 5px solid var(--accentcolor1);
}

.mainmenu .mainmenuouter {
    float:left;
    width: 60%;
    margin-left:20%;
}

.mainmenu .mainmenuouter .menulogoouter {
    float:left;
    margin-right: 10%;
        width:100%;

}

.mainmenu .mainmenuouter .menulogoouter .menulogo {
    width:100%;

}


.mainmenu .mainmenuouter .menuitems {
    float:right;
    width: 100%;
}

.mainmenu .mainmenuouter .menuitems .menuitemouter {
    float:right;
    width: 12%;
    cursor: pointer;
    border-bottom: 5px solid var(--background);
}

.mainmenu .mainmenuouter .menuitems .menuitemouter:hover {
    background-color: var(--accentcolor3);
    color: var(--background);
    border-color: var(--accentcolor3);
}
.mainmenu .mainmenuouter .menuitems .menuitemouter.selected {
    background-color: var(--accentcolor4);
    color: var(--background);
    border-color: var(--accentcolor2);
}

.mainmenu .mainmenuouter .menuitems .menuitemouter .menuitem {
    text-align:center;
    font-size: 2em;
    font-family: 'punk';
}


.maincontent {
    float:left;
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    display:none;
}

.maincontent .maincontenttitle {
    float:left;
    width: 100%;
    text-align: center;
    font-size: 5em;
    border-bottom: 5px solid var(--accentcolor2);
    font-family: 'punk';
}

.maincontent .maincontentcoverimage {
    float:left;
    width:100%;
    height: 250px;
}

.maincontent .maincontentcoverimage img {
    object-fit: cover;
    width:100%;
    height: 100%;
    border-bottom: 5px solid var(--accentcolor4);
}

.maincontent .tabcontent {
    float:left;
    width: 100%;
    margin-top: 3%;
}


/* tab 1 home */

.aboutusmainouter {
    float:left;
    width: 100%;
    margin-bottom: 5%;
}

.faqmainouter {
    float:left;
    width: 100%;
    margin-top:5%;
    margin-bottom: 5%;
    padding-top: 5%;
    border-top: 5px solid var(--accentcolor4);
}

.bandmembersmainouter {
    float:left;
    width: 100%;
    margin-bottom: 5%;
    padding-top: 5%;
    border-top: 5px solid var(--accentcolor4);
}

.instamainouter {
    float:left;
    width: 100%;
    margin-bottom: 5%;
    padding-top: 5%;
    border-top: 5px solid var(--accentcolor4);
}


.homeimageouter {
    float:left;
    width: 10%;
    margin-right:10%;
}

.aboutusouter {
    float:left;
    width: 100%;
}

.aboutusouter .aboutuspicture {
    float:left;
    width:40%;
    height:450px;
}

.aboutusouter .aboutuspicture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}


.aboutusouter .aboutusblurb {
    float:left;
    padding-top: 50px;
    text-align:center;
    line-height: 2em;
    font-size: 1.25em;
    width:50%;
    padding:0 5%;
}

.aboutusouter .aboutusblurb .aboutusbandname {
    font-family: punk;
    /* color:var(--accentcolor4); */
    font-size: 1.25em;
    font-weight: bold;
}


.faqtitle {
    float:left;
    width:100%;
    text-align: center;
    font-size:4em;
    font-family: 'punk';

}

/* .faqtitle .faqtitletext {

} */

.faqtitle .faqtitlequestionmark {
    font-family: "Special Elite";
    background-color: #fff;
    color: var(--background);
    padding: 10px 5px 0 5px;
    border-radius: 10px;
}


.faqanswersmainouter {
    float:left;
    padding-left:10%;
}

.faqouter {
    float:left;
    width: 10em;
    margin: 2%;
    text-align:center;
    font-size:1.5em;
    font-style:italic;
}


.memberouter {
    float:left;
    /*width: 19%;*/
    margin-right:10px;
    text-align:center;
    transition: ease-in-out all 0.5s;;
    font-size:2em;
    border-radius: 0;
    padding:5px;
    transition: 0.75s ease-in-out all;
}

.memberouter:hover {
    cursor: pointer;
    background-color: var(--accentcolor4);
    border-radius: 10px;
}


.memberouter.large {
    font-size:3em;
}

.memberouter .memberpicture {
    float:left;
    width:100%;
    transition: ease-in-out all 0.5s;;
}

.memberouter .memberpicture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.memberouter .membername {
    float:left;
    width:100%;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    color:var(--accentcolor3);
}

.memberouter .memberplays {
    float:left;
    width: 100%;
    padding: 2px;
    text-align: center;
    font-size: 0.5em;
}

.memberouter .memberblurb {
    float:left;
    width: 100%;
    display:none;
}

.memberouter .memberinsta {
    float:left;
    width: 100%;
    font-family: punk;
    font-size: 0.75em;
}



.instatitle {
    float:left;
    width:100%;
    text-align: center;
    font-size:4em;
    font-family: 'punk';
}

.instapicturesmainouter {
    float:left;
}

.instaitemouter {
    float:left;
    margin:2px;
}

.instaitemouter img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


/*-- Tab 2 News --*/
.newsitemouter {
    float:left;
    width: 95%;
    border-top:5px solid var(--accentcolor4);
    padding-left:5%;
    margin-top: 5%;
}

.newsitemouter .newsiteminner {
    float:left;
    width: 100%;
}

.newsitemouter .newsiteminner .newsitemtitle{
    float:left;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: var(--accentcolor3);
    padding: 20px 0;
}

.newsitemouter .newsiteminner .newsitempicture {
    float:left;
    padding:5px;
    border-radius: 0;
    background-color: var(--accentcolor3);
    transition: 0.75s ease all;
}

.newsitemouter .newsiteminner .newsitempicture:hover {
    border-radius: 40px;
    background-color: var(--accentcolor4);
    cursor: pointer;
}

.newsitemouter .newsiteminner .newsitempicture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.newsitemouter .newsiteminner .newsitemwords {
    float:left;
    width: 55%;
    padding: 5%;
    font-size: 1.5em;
}


.newsitemouter .newsiteminner.pictureright .newsitempicture{
    float:right;
}

.newsitemouter .newsiteminner.picturetop .newsitempicture{
    margin-left:-5%;
}

.newsitemouter .newsiteminner.picturetop .newsitemwords{
    width:90%;
}

.newsloadmoreouter {
    float:left;
    width: 100%;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    color:var(--accentcolor4);
    border-top:5px solid var(--accentcolor4);
    border-bottom:5px solid var(--accentcolor4);
    padding: 10px 0;
}

.newsloadmoreouter:hover {
    color:var(--accentcolor3);
    border-color: var(--accentcolor3);
}


/*-- Tab 3 videos --*/
.videoitemouter {
    float:left;
    width: 45%;
    margin: 1%;
    margin-left:10%;
}

.videoitemouter .videotitle {
    float:left;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.videoitemouter .videotitle .videosongname {
    color:var(--accentcolor3);
    font-weight: bold;
}

.videoitemouter .videoouter.wide {
    float:left;
    width: 1080px;
    height: 607px;

}

.videoitemouter .videoouter .videoiframe {
    float:left;
    width: 100%;
    height:100%;
    border:0;
    margin:0;
}


.gigsectiontitle {
    float:left;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: var(--accentcolor2);
    padding: 30px 0;
    border-bottom: 5px solid var(--accentcolor2);
}

.gigsectiontitle.upcoming {
    color: var(--accentcolor4);
    border-color: var(--accentcolor4);
}

/* tab 5 gigs */
.gigitemouter {
    float:left;
    width: 100%;
    padding: 30px 0;
    border-bottom: 5px solid var(--accentcolor2);
    font-size: 1.5em;
}

.gigitemouter.upcoming {
    border-color: var(--accentcolor4);
}

.gigitemouter .gigitemleft {
    float:left;
    padding:5px;
    border-radius: 0;
    background-color: var(--accentcolor3);
    transition: ease-in-out all 0.5s;
}

.gigitemouter .gigitemleft:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--accentcolor4);
}

.gigitemouter .gigitemleft img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gigitemouter .gigitemright {
    float:right;
    padding:5px;
    border-radius: 0;
    transition: ease-in-out all 0.5s;
}

.gigitemouter .gigitemright:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--accentcolor4);
}

.gigitemouter .gigitemright img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gigitemouter .gigitemcenter {
    float:left;
    width: 47.5%;
    padding-left:2.5%;
}

.gigitemouter .gigitemcenter .gigdate {
    float:left;
    width: 100%;
    padding: 5px 0 20px 0;
    font-size: 1.5em;
}

.gigitemouter .gigitemcenter .gigevent {
    float:left;
    width: 100%;
    padding: 5px 0 20px 0;
    font-size:2em;
    color: var(--accentcolor3);
    font-weight: bold;
    text-align: center;
}

.gigitemouter .gigitemcenter .gigvenue {
    float:left;
    width: 100%;
    padding: 5px 0;
}

.gigitemouter .gigitemcenter .giginfo {
    float:left;
    width: 100%;
    padding: 5px 0;
}

.gigitemouter .gigitemcenter .gigcity {
    float:left;
    width: 100%;
    padding: 5px 0;
}

.gigitemouter .gigitemcenter .gigcountry {
    float:left;
    width: 100%;
    padding: 5px 0;
}

.gigitemouter .gigitemcenter .eventlink {
    float:left;
    width: 100%;
    padding: 2px 0;
    margin:3px 0;
    text-align: center;
    border-top: 2px solid var(--accentcolor3);
    border-bottom: 2px solid var(--accentcolor3);
}

.gigitemouter .gigitemcenter .ticketlink {
    float:left;
    width: 100%;
    padding: 2px 0;
    margin:3px 0;
    text-align: center;
    font-size: 1.5em;;
    border-top: 2px solid var(--accentcolor3);
    border-bottom: 2px solid var(--accentcolor3);
}

.gigitemouter .gigitemcenter .eventlink:hover,
 .gigitemouter .gigitemcenter .ticketlink:hover {
    border-color: var(--accentcolor4);
    cursor: pointer;
}   

.gigitemouter .gigitemcenter .doorstime {
    float:left;
    width: 100%;
    padding: 5px 0;
    color: var(--accentcolor4);
    display:none;
}

.gigitemouter .gigitemcenter .stagetime {
    float:left;
    width: 100%;
    padding: 5px 0;
    color: var(--accentcolor3);
    display:none;
}

.gigitemouter .gigitemcenter .photos {
    float:left;
    width: 100%;
    padding: 5px 0;
    color: var(--accentcolor3);
    text-align: center;
    border-top: 2px solid var(--accentcolor3);
    border-bottom: 2px solid var(--accentcolor3);
}

.gigitemouter .gigitemcenter .photos:hover {
    color: var(--accentcolor4);
    border-color: var(--accentcolor4);
    cursor: pointer;
}

.gigitemouter.upcoming .gigitemcenter .doorstime,
.gigitemouter.upcoming .gigitemcenter .stagetime,
.gigitemouter.upcoming .gigitemcenter .eventlink,
.gigitemouter.upcoming .gigitemcenter .ticketlink  {
    display:block;
}

.gigitemouter.upcoming .photos {
    display:none;
}

.gigitemouter.upcoming .gigitemcenter {
    width:72.5%;
}

.gigitemouter.upcoming .gigitemleft {
    float:right;
}

.gigitemouter.upcoming .gigitemright {
    display:none;
}


/* tab 6 Lyrics  */
.lyricsouter {
    float:left;
    width: 100%;
}

.lyricsouter .lyricstitleouter {
    float:left;
    width:100%;
    border-bottom: 5px solid var(--accentcolor3);
    color: var(--accentcolor3);
    font-weight: 600;
}

.lyricsouter .lyricstitleouter:hover {
    color: var(--accentcolor4);
    cursor: pointer;
    border-color: var(--accentcolor4);
}

.lyricsouter .lyricstitleouter .lyricstitle {
    float:left;
    width: 100%;
    
    padding: 20px 0 0 0;
    font-size: 2em;

}

.lyricsouter .lyricsitemsouter {
    float:left;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}




/* tab 7 photos */

.photosfolderouter {
    float:left;
    width: 100%;
}

.photosfolderouter .photofoldertitleouter {
    float:left;
    width:100%;
    border-bottom: 5px solid var(--accentcolor3);
    color: var(--accentcolor3);
    font-weight: 600;
}

.photosfolderouter .photofoldertitleouter:hover {
    color: var(--accentcolor4);
    cursor: pointer;
    border-color: var(--accentcolor4);
}

.photosfolderouter .photofoldertitleouter .photosfoldertitle {
    float:left;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 2em;

}

.photosfolderouter .photofoldertitleouter .photofolderdate {
    float:left;
    width:100%;
    text-align:right;
    font-size: 1.25em;
}



.photosfolderouter .photositemsouter {
    float:left;
    width: 100%;
    padding: 20px 0;
}

.photosfolderouter .photositemsouter .photoitemouter {
    float:left;
    margin-bottom:1px;
    padding:5px;
    border-radius: 0;
    transition: 0.75s ease-in-out all;
}

.photosfolderouter .photositemsouter .photoitemouter.cover {
    float:left;
    margin-bottom:1px;
    padding:5px 15px 5px 5px;
    border-radius: 0;
    transition: 0.75s ease-in-out all;
}

.photosfolderouter .photositemsouter .photoitemouter:hover {
    border-radius: 10px;
    background-color: var(--accentcolor4);
    cursor: pointer;
}

.photosfolderouter .photositemsouter .photoitemouter img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}




/*-- Footer -- */
.footerouter {
    float:left;
    width: 100%;
    border-top: 10px solid var(--accentcolor3);
    padding: 100px 0;
    margin-top: 100px;
}

.footerouter .socialouter {
    float: left;
    width: 60%;
    margin-left:20%;

}

.footerouter .socialouter .socialitemouter {
    float: left;
    width: 100%;
    padding: 10px 0;
}










.hide {
    display:none !important;
}

